.table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.75rem; }
  .table__th {
    padding: 8px 12px;
    background-color: #505050; }
  .table__td {
    padding: 8px 12px;
    border-bottom: 1px solid #505050; }
  .table__th.align-left, .table__td.align-left {
    text-align: left; }
  .table__th.align-right, .table__td.align-right {
    text-align: right; }
  .table__tr:last-child .table__td {
    border-bottom: none; }

