.app {
    display: flex;
    align-items: stretch;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.layout-manager {
    position: relative;
    height: 100vh;
    flex-grow: 1;
}
