@import '~flexlayout-react/style/dark.css';

.flexlayout__tab_button {
    padding: 0px 8px;
    margin: 0;
}

.app {
    display: flex;
    width: 100%;
    height: 100vh;
}

.explorer {
    display: flex;
    flex: 0 0 auto;
    color: white;
    background-color: #404040;
    border-right: 1px solid #585858;
}

.explorer__tab-header {
    writing-mode: tb-rl;
    min-width: 22px; /* fix for firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=1223180 */
}

.explorer__tab-button {
    display: inline-block;
    padding: 1em 0;
    background-color: black;
    cursor: pointer;
}

.explorer__panel-close {
    float: right;
    cursor: pointer;
}

.explorer__list {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

.explorer__list-item {
    padding: 0.5em 1em;
    margin: 0;
}

.explorer__layout-button {
    border: none;
    white-space: nowrap;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.layout-manager {
    position: relative;
    height: 100%;
    flex: 1;
}
